/* Custom */

tr:nth-child(even) {
  background-color: #f2f2f2;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #dfe2e5;
}

th, td {
  padding: 6px;
  text-align: left;
}

th {
  background-color: #D3D3D3;
}

.vMenu ul {
  padding-left: 25px;
}

h5 {
  font-size: 1.15em;
}

h6 {
  font-size: 1.05em;
}

.button-icon {
  margin-right: 5px;
}

.teams img {
  margin-right: 10px;
}

.ivr-prompt {
  margin: 0;
  background: #eee;
  border-radius: 5px;
}
