/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/ruby/
/vendor/dynamizer/bundle
/dynamizer/bundler/vendor
/dynamizer/bundler/.bundle
.env

# terraform
terraform/terraform.tfstate.d/
terraform/.terraform
