---
http_interactions:
- request:
    method: get
    uri: http://rtd.somleng.org/api/projects/6bb193d9-876e-4846-a42f-8a35db66b477/real_time_data.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2426590bc3596007a35cce57de31f7db"
    body:
      encoding: UTF-8
      string: '{"date_updated":"Wed, 25 Oct 2017 12:39:25 +0000","calls_count":192713,"calls_outbound_count":79890,"calls_inbound_count":112823,"calls_minutes":310399,"calls_outbound_minutes":81074,"calls_inbound_minutes":229325,"sms_count":0,"sms_outbound_count":0,"sms_inbound_count":0,"projects_count":1,"countries_count":1,"continents_count":1,"total_amount_spent":"$2.21","total_equivalent_twilio_price":"$8,107.40","total_amount_saved":"$8,105.19"}'
  recorded_at: Wed, 25 Oct 2017 12:47:59 GMT
- request:
    method: get
    uri: http://rtd.somleng.org/api/projects/6bb193d9-876e-4846-a42f-8a35db66b477
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3a31a6eecd080732d388af07b97ca454"
    body:
      encoding: UTF-8
      string: '{"id":"6bb193d9-876e-4846-a42f-8a35db66b477","name":"Disaster Risk
        Reduction and Preparedness in Cambodia","description":"Cambodia''s geographical
        location, available resources, and frequency as well magnitude of disasters
        makes its population very vulnerable to impacts of disasters such as floods,
        droughts, tropical storms and hurricanes. While emergency aid is the cornerstone
        of People in Need''s work worldwide, the organization believes that the most
        work that is required is building the institutional capacity of local authorities
        responsible for disaster management and strengthening the resilience of at-risk
        communities to help them to be better prepared for disasters.","homepage":"https://www.clovekvtisni.cz/en/humanitary-aid/country/cambodia/programs#disaster-risk-reduction-and-preparedness-in-cambodia","date_updated":"Wed,
        25 Oct 2017 12:39:25 +0000","date_created":"Thu, 08 Dec 2016 06:07:04 +0000","twilio_price":{"country_code":"KH","date_updated":"Sat,
        06 May 2017 03:30:37 +0000","date_created":"Thu, 08 Dec 2016 03:04:57 +0000","outbound_voice_price":"$0.100000","outbound_sms_price":"$0.051909","voice_url":"https://www.twilio.com/voice/pricing/kh","sms_url":"https://www.twilio.com/sms/pricing/kh"}}'
  recorded_at: Wed, 25 Oct 2017 12:48:00 GMT
[...]
- request:
    method: get
    uri: http://rtd.somleng.org/api/projects/11d41773-cb37-4614-883d-602bb4e1824e/real_time_data.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20d69bc47eea40824300327d3768c856"
    body:
      encoding: UTF-8
      string: '{"date_updated":"Wed, 25 Oct 2017 10:39:29 +0000","calls_count":22950,"calls_outbound_count":22433,"calls_inbound_count":517,"calls_minutes":41151,"calls_outbound_minutes":40535,"calls_inbound_minutes":616,"sms_count":0,"sms_outbound_count":0,"sms_inbound_count":0,"projects_count":1,"countries_count":1,"continents_count":1,"total_amount_spent":"$1,809.31","total_equivalent_twilio_price":"$31,130.88","total_amount_saved":"$29,321.57"}'
  recorded_at: Wed, 25 Oct 2017 12:48:02 GMT
recorded_with: VCR 3.0.3
