---
http_interactions:
- request:
    method: get
    uri: http://rtd.somleng.org/api/real_time_data.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e93d6fdfb4e1980040e7778c967f1b2"
    body:
      encoding: UTF-8
      string: '{"date_updated":"Tue, 24 Oct 2017 08:40:01 +0000","calls_count":235736,"calls_outbound_count":116669,"calls_inbound_count":119067,"calls_minutes":391523,"calls_outbound_minutes":150747,"calls_inbound_minutes":240776,"sms_count":0,"sms_outbound_count":0,"sms_inbound_count":0,"projects_count":3,"countries_count":2,"continents_count":2,"total_amount_spent":"$1,803.31","total_equivalent_twilio_price":"$41,830.10","total_amount_saved":"$40,026.79"}'
  recorded_at: Tue, 24 Oct 2017 08:48:29 GMT
recorded_with: VCR 3.0.3
